.account {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
    .sidebar {
      border-bottom: 1px solid white;
      width: 70%;
      color: white;
      font-weight: bold;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 15%;  
    }
    
    .accountList {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
    }
    
    .option {
      font-size: 1.2rem;
      padding: 0.8rem;
      cursor: pointer;
      margin-right: 3rem;
    }
    
    .option span{
      font-size: 1.2rem;
      margin-right: 0.5rem;
    }
    .option.active {
      /* rgb for #2a96a1 is 42, 150, 161
      */
      background-color: #ccc;
      border-radius: 0.5rem;
    }
    
    .option:hover {
      background-color: #ccc;
      transition: all 0.3s ease-in-out;
      border-radius: 0.5rem;
      color: black;
    }

    .option:hover span{
      color: black;
    }

    /*font black when selected*/
    .option.active{
      color: black;
    }

    
  
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 70%;
      position: absolute;
      top: 30%;
    }
    
    span {
      font-size: 1.2rem;
      font-weight: bold;
    }
    
    .profile {
      background-color: #f5f5f5;
      padding: 1rem;
      border-radius: 0.5rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      margin-bottom: 2rem;
      width: 30rem;
      height: 20rem;
      margin-top: 2rem;
      
    }
    .profile button {
      margin-top: 1rem;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 0.5rem;
      background-color: #2a96a1;
      color: #fff;
      cursor: pointer;
      font-size: 1rem;
    }
    
    .profile button:hover {
      background-color: #ccc;
      color: #2a96a1;
    }    

    .loginInfo{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 7rem;
    }

    .editUsername input{
      margin-top: 1rem;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 0.5rem;
      background-color: #2a96a1;
      color: #fff;
      cursor: pointer;
      font-size: 1rem;
    }

    .editUsername input::placeholder{
      color: #fff;
    }

    .posts, .comments, .saved{
      height: 100%;
      margin-bottom: 2rem;
    }

  .commentList, .postList{
      background-color: #f5f5f5;
      padding: 1rem;
      border-radius: 0.5rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      margin-bottom: 2rem;
      width: 20rem;
      margin-top: 40px;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 50px;
  }

  .commentCount, .postCount {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .viewBtn{
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #2a96a1;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
  }

  .viewBtn:hover {
    background-color: #ccc;
<<<<<<< HEAD
    color: #2a96a1;
=======
    color: teal;
>>>>>>> 72e85c056f0cb217e3508ab824683535961a358a
  }

  .read-more{
    text-decoration: none;
   }
   
   .read-more:hover{
     text-decoration: underline;
   }