.createComment {
      padding: 10px;
      border: none;
<<<<<<< HEAD
=======
      background-color: #f9f9f9;
>>>>>>> 72e85c056f0cb217e3508ab824683535961a358a
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 85%;
    }
    
    .createComment input[type="text"] {
      width: 83%;
      padding: 12px 20px;
      box-sizing: border-box;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      border: 1px solid #ccc;
      height: 35px;
    }
    
    .createComment input[type="submit"] {
<<<<<<< HEAD
      background-color: #2a96a1;
=======
      background-color: teal;
>>>>>>> 72e85c056f0cb217e3508ab824683535961a358a
      color: white;
      border: none;
      padding: 7px 10px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 5px;
      width: auto;
      margin: 5px;
    }

    .createComment input[type="submit"]:hover {
      background-color: #ccc;
<<<<<<< HEAD
      color: #2a96a1;
=======
      color: teal;
>>>>>>> 72e85c056f0cb217e3508ab824683535961a358a
    }
    