.postContainer {
  margin: 0 auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.detailedPost {
  width: 600px;
  margin: 0 auto;
  height: auto;
  padding: 20px;
  border: 1px solid teal;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
}

.backBtn{
  width: 15px;
  height: 15px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: teal;
  margin-bottom: 10px;
}

.postHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postTime {
  margin: 0;
  font-size: 1rem;
  color: teal;
  font-weight: bold;
}

.flair{
  width: 60px;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 1rem;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.questionFlair {
background-color: #79d1d6 ;
}

.opinionFlair {
background-color: #7798ed;
}  
.editBtn, .bookmarkBtn{
  background-color: #f5f5f5;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #000000;
}
  
.editBtn:hover, .bookmarkBtn:hover {
  color: teal;
}

.postTitle {
  margin-top: 20px;
  margin-bottom: 10px;
}

.postContent {
  margin-top: 0;
  margin-bottom: 20px;
}

.commentList {
  margin-top: 20px;
}

.upvoteCommentDiv{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.upvotesBtn {
  background-color: teal;
  color: white;
  border: none;
  padding: 7px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
  width: auto;
  }
  
  .upvotes-btn {
  width: 80px;
  }
  
  .upvotesBtn:hover {
  color: #333;
  }
  
  .upvotesBtn:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
  color: teal;
  }