.comment {
  background-color: rgb(226, 234, 234);
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.commentHeader {
  margin-bottom: 10px;
}

.commentInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.commentInfo p {
  margin: 0;
  font-size: 14px;
  color: #000000;
}

.commentActions {
  display: flex;
  justify-content: flex-end;
}

.commentActions button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #000000;
}

.commentBody p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}

.trashBtn:hover{
  color: red;
}
button:hover{
  color: #2a96a1;
}

.commentBody textarea {
  width: 95%;
  height: 10rem;
  resize: none;
  padding: 5px;
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: sans-serif;
}
