.deleteBtn, button[type="submit"] {
      background-color: teal;
      color: white;
      border: none;
      padding: 10px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 5px;
      margin: 10px;
    }

      .deleteBtn {
        background-color: red;
      }
    
    .deleteBtn:hover, button[type="submit"]:hover {
      background-color: #e6e6e6;
      color:#333;
    }    

    .updateDeleteBtns {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
    }

    