.posts-section{
display: flex;
flex-direction: column;
margin-top: 50px;
}

.welcome-message {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
  color: #333;
  text-align: center;
  text-transform: capitalize;
}

.search-bar {
display: flex;
align-items: center;
justify-content: center;
margin-top: 20px;
}

.search-bar input[type="text"] {
border: none;
padding: 10px;
font-size: 16px;
width: 100%;
max-width: 400px;
border-radius: 25px;
box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
transition: all 0.3s ease-in-out;
background-color: #fff;
color: #333;
}

.clear-btn {
background-color: teal;
color: white;
border: none;
padding: 10px;
font-size: 16px;
cursor: pointer;
border-radius: 20px;
margin: 5px;
}

.clear-btn:hover {
background-color: #e6e6e6;
color: #333;
}

.order-by-container button, 
.filter-container button {
background-color: teal;
color: white;
border: none;
padding: 5px 10px;
font-size: 16px;
cursor: pointer;
border-radius: 5px;
margin: 5px;
}

.order-by-container button:hover,
.filter-container button:hover {
background-color: #e6e6e6;
color:#333;
}

.order-by-container button:disabled,
.filter-container button:disabled {
background-color: #d3d3d3;
cursor: not-allowed;
color: teal;
}

.order-by-container {
display: flex;
justify-content: center;
align-items: center;
margin-top: 20px;
}

.order-by-container p {
margin-right: 10px;
}

.post-container {
display: flex;
flex-wrap: wrap;
gap: 0.5rem;
justify-content: center;

}

.post {
background-color: #f5f5f5;
padding: 1rem;
border-radius: 0.5rem;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
margin-bottom: 2rem;
width: 20rem;
margin-top: 40px;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 0px;
}

.post:hover{
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.post h3 {
font-size: 1.5rem;
margin-bottom: 0.5rem;
}

.post p {
margin-bottom: 0.5rem;
}

.time{
font-size: 0.9rem;
}

.flair {
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 8px;
  display: inline-block;
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  }
  
.flair-question {
background-color: #79d1d6 ;
}

.flair-opinion {
background-color: #7798ed;
}  

.button-container {
display: flex;
justify-content: center;
align-items: center;
border-top: 1px solid #ccc;
padding-top: 10px;
}

.upvotes-btn, .edit-btn, .comments-btn {
background-color: teal;
color: white;
border: none;
padding: 7px 10px;
font-size: 16px;
cursor: pointer;
border-radius: 5px;
margin: 5px;
}

.upvotes-btn, .comments-btn {
width: 80px;
}

.upvotes-btn:hover, .edit-btn:hover, .comments-btn:hover {
color: #333;
}

.upvotes-btn:disabled {
background-color: #d3d3d3;
cursor: not-allowed;
color: teal;
}