nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: teal;
      color: #fff;
      padding: 1rem;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 999;
      max-width: 105rem;
      margin: 0 auto;
    }
    
    nav ul {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    
    nav ul li {
      margin-right: 1rem;
    }
    
    .title {
      font-size: 1.5rem;
      font-weight: 700;
      margin: 0;
      text-decoration: none;
      color: #fff;
      text-shadow: 0 0 2px #fff;
    }

    @media (max-width: 768px) {
      nav {
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0.5rem;
      }

    }